<h3>Hi <%= issue.reporter.name %></h3>
<p>There is <b>1 update</b> for your issue</p>
<p>Issue State: <%= issue.state %></p>
<a href="<%= link %>">View Issue</a>
<div style="margin-top: 20px;">
    <%- include('logo.ejs'); %>
</div>